<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Project Test Suite">
    <listeners>
        <listener class-name="com.selenium.base.ExtentManager"/>
    </listeners>
    <test name="Web Tests">
        <classes>
            <class name="test.ContactUsPageTest"/>
            <class name="test.HomePageTest"/>
        </classes>
    </test>
</suite>
